body{
    margin: 0; 
    color: #82a5ca; 
    text-align: center; 
    font-family: 'Orbitron', sans-serif;   
}

.btn {
    padding: 5px 10px;
    background: white; 
    border: none; 
    font-family: inherit; 
    color: #2d82dd; 
    font-weight: 800; 
}

#hero{ 
    background-image: url("https://media.giphy.com/media/D35fOVm9gSQ91icJeR/giphy-downsized-large.gif"); 
    background-size: cover; 
    padding: 10px 0 40px 0; 
}

.underline{
    border-bottom: 2px solid white; 
}